#SignUp {
	background: url(/resources/images/underwater.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: absolute; /**/
	width: 100%;
	background-size: cover;
}
.container {
	align-content: center;
	height: 100%;
	width: 100%;
}

.SignUp-Fields {
	background: white;
	background-size: contain;
	display: inline-block;
	width: 400px;
}

.fields-col {
	padding-left: 0;
   	padding-right: 0;
}

.my-row {
	height: 240px;
	padding: 0px
}

#Sign-Fields {
	align-content: center;
}